.blue-0 {
    background-image: url(../images/blue/0.jpg);
}
.blue-1 {
    background-image: url(../images/blue/1.jpg);
}
.blue-33 {
    background-image: url(../images/blue/33.jpg);
}
.blue-34 {
    background-image: url(../images/blue/34.jpg);
}
.blue-35 {
    background-image: url(../images/blue/35.jpg);
}
.blue-36 {
    background-image: url(../images/blue/36.jpg);
}
.blue-37 {
    background-image: url(../images/blue/37.jpg);
}
.blue-38 {
    background-image: url(../images/blue/38.jpg);
}
.blue-39 {
    background-image: url(../images/blue/39.jpg);
}
.blue-40 {
    background-image: url(../images/blue/40.jpg);
}
.blue-98 {
    background-image: url(../images/blue/98.jpg);
}
.blue-99 {
    background-image: url(../images/blue/99.jpg);
}
.blue-bg {
    background-image: url(../images/blue/bg.jpg);
}

.green-0 {
    background-image: url(../images/green/0.jpg);
}
.green-1 {
    background-image: url(../images/green/1.jpg);
}
.green-33 {
    background-image: url(../images/green/33.jpg);
}
.green-34 {
    background-image: url(../images/green/34.jpg);
}
.green-35 {
    background-image: url(../images/green/35.jpg);
}
.green-36 {
    background-image: url(../images/green/36.jpg);
}
.green-37 {
    background-image: url(../images/green/37.jpg);
}
.green-38 {
    background-image: url(../images/green/38.jpg);
}
.green-39 {
    background-image: url(../images/green/39.jpg);
}
.green-40 {
    background-image: url(../images/green/40.jpg);
}
.green-98 {
    background-image: url(../images/green/98.jpg);
}
.green-99 {
    background-image: url(../images/green/99.jpg);
}
.green-bg {
    background-image: url(../images/green/bg.jpg);
}

.orange-0 {
    background-image: url(../images/orange/0.jpg);
}
.orange-1 {
    background-image: url(../images/orange/1.jpg);
}
.orange-33 {
    background-image: url(../images/orange/33.jpg);
}
.orange-34 {
    background-image: url(../images/orange/34.jpg);
}
.orange-35 {
    background-image: url(../images/orange/35.jpg);
}
.orange-36 {
    background-image: url(../images/orange/36.jpg);
}
.orange-37 {
    background-image: url(../images/orange/37.jpg);
}
.orange-38 {
    background-image: url(../images/orange/38.jpg);
}
.orange-39 {
    background-image: url(../images/orange/39.jpg);
}
.orange-40 {
    background-image: url(../images/orange/40.jpg);
}
.orange-98 {
    background-image: url(../images/orange/98.jpg);
}
.orange-99 {
    background-image: url(../images/orange/99.jpg);
}
.orange-bg {
    background-image: url(../images/orange/bg.jpg);
}

.violet-0 {
    background-image: url(../images/violet/0.jpg);
}
.violet-1 {
    background-image: url(../images/violet/1.jpg);
}
.violet-33 {
    background-image: url(../images/violet/33.jpg);
}
.violet-34 {
    background-image: url(../images/violet/34.jpg);
}
.violet-35 {
    background-image: url(../images/violet/35.jpg);
}
.violet-36 {
    background-image: url(../images/violet/36.jpg);
}
.violet-37 {
    background-image: url(../images/violet/37.jpg);
}
.violet-38 {
    background-image: url(../images/violet/38.jpg);
}
.violet-39 {
    background-image: url(../images/violet/39.jpg);
}
.violet-40 {
    background-image: url(../images/violet/40.jpg);
}
.violet-98 {
    background-image: url(../images/violet/98.jpg);
}
.violet-99 {
    background-image: url(../images/violet/99.jpg);
}
.violet-bg {
    background-image: url(../images/violet/bg.jpg);
}