
/** app container */
html, body {
    margin: 0;
    height: 100%;
}

.jkriegsspiel {
    width: 1024px;
    height: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 700px;
}

.background {
    background-image: url(../images/chessboard.jpg);
    width: 100%;
    height: 700px;
}

.base-position {
    width: 100%;
    height: 700px;
}

.container {
    composes: base-position;
    position: relative;
}


/* play ground style */
.base-piece {
    width: 35px;
    height: 26px;
    cursor: pointer;
    position: absolute;
}

.piece {
    composes: base-piece;
    background-image: url(../images/blue/0.jpg);
    top: 12px;
    left: 12px;
}

.piece-container {
    position: absolute;
    top: 0;
    z-index: 2;
}

.piece-frame {
    composes: base-piece;
    position: absolute;
    display: inline-block;
    border: solid 1px red;
    color: red;
}

.piece-frame-container {
    composes: base-position;
    position: absolute;
    top: 0;
    z-index: 1;
}

/* login style */

.selector-base {
    opacity: 0.5;
    position: absolute;
    cursor: pointer;
}

.player-up-selector {
    composes: selector-base;
    width: 191px;
    height: 236px;
    background-color: green;
    left: 415px;
    top: 14px;
}

.player-bottom-selector {
    composes: player-up-selector;
    background-color: blue;
    top: 440px;
}
.player-left-selector {
    composes: selector-base;
    width: 240px;
    height: 190px;
    background-color: violet;
    left: 175px;
    top: 250px;
}
.player-right-selector {
    composes: player-left-selector;
    background-color: orange;
    left: 605px;
}

.player-watcher-selector {
    composes: selector-base;
    width: 181px;
    height: 179px;
    top: 256px;
    left: 420px;
    background-color: red;
}